body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #A7C7E7; /* light blue */
}

.navbar {
    display: flex;
    justify-content: space-between; /* logo left, links right */
    padding: 20px 50px;
    position: fixed; /* keeps navbar on top when scrolling */
    width: 100%;
    top: 0;
    background-color: #A7C7E7; /* light blue */
    z-index: 100;
    box-sizing: border-box;
}

.nav-links {
    display: flex;
    gap: 30px;
}

    .nav-links a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        transition: 0.3s;
    }

        .nav-links a:hover {
            color: #ff3399; /* hover effect */
        }

/* MAIN CONTENT */
.container {
    max-width: 1000px;
    margin: 120px auto 50px auto; /* margin-top to not hide under navbar */
    text-align: center;
}

/* TITLE */
h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

/* PARAGRAPH */
p {
    font-size: 18px;
    line-height: 1.8;
    max-width: 700px;
    margin: 20px auto;
}



.image-gallery {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
    flex-wrap: wrap; /* prevents breaking on small screens */
}

    .image-gallery img {
        width: 220px;
        height: 280px;
        object-fit: cover;
        border-radius: 60% 40% 55% 45% / 45% 55% 45% 55%;
    
        transition: 0.3s;
    }

        .image-gallery img:hover {
            transform: scale(1.05);
        }