body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #ffd6e0; /* light pink */
}

/* Center everything */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Your name */
h1 {
    font-size: 80px;
    margin: 0;
    font-weight: 600;
}

/* Subtitle */
p {
    font-size: 20px;
    margin: 10px 0 30px;
}

/* Button */
.btn {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 16px;
    transition: 0.3s;
}

    .btn:hover {
        background-color: #333;
    }
